[Desktop Entry]
Name=Terminal
GenericName=Terminal
Comment=A light terminal using libvte
Comment[fr]=Un terminal léger utilisant libvte

TryExec=terminal
Exec=terminal
Icon=terminal
Type=Application
Terminal=false
Categories=GTK;Utility;System;TerminalEmulator;
